$base: #0f1923;
$white: #ece8e1;
$pink: #d7a1ac;
$title: #3c3b3b;
$height: 54px;
$transition: 0.3s ease-out all;

#projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;

	#title-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		z-index: 2;
		padding: 1.25em, 1.25em, 0, 3em, 0, 0;
		min-height: 4em;
		border-bottom: solid 1px #3c3b3b;
		background-color: $pink;
		position: relative;

		h3 {
			// text-shadow: 0.5px 0.5px 0.5px $base, 0.5px 0.5px 0.5px $base;
			letter-spacing: 0.2em;
			color: $title;
			margin-left: 1vw;
			font-weight: 450px;
			font-size: 1.5em;
		}
	}

	#project {
		border: solid 1px #3c3b3b;
		height: auto;
		position: relative;
		text-align: center;
		object-fit: cover;
		margin: 2vh;
		margin-bottom: 25vh;
		&:hover img {
			opacity: 0.3;
			-webkit-filter: brightness(40%);
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}

		&:hover .overlay {
			opacity: 1;
		}

		&:hover {
			cursor: pointer;
		}
		.overlay {
			width: 100%;
			margin-left: 35vw;
			transition: 0.5s ease;
			opacity: 0;
			position: absolute;
			margin-top: 14vh;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column;

			& a {
				width: 100%;
				max-width: 20vw;
				height: $height;
				padding: 8px;
				font-size: 0.8rem;
				font-weight: 900;
				color: $pink;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				margin: 10px 0;
				&.transparent:hover > p {
					color: $white;
					& span.text {
						box-shadow: 0 0 0 1px $white;
					}
				}
				&.transparent > p {
					background: $base;
					color: $white;
					& span.base {
						border: 1px solid $white;
					}
				}

				&:before {
					right: 0;
					left: initial;
				}
				& p {
					margin: 0;
					height: $height;
					line-height: $height;
					box-sizing: border-box;
					z-index: 1;
					left: 0;
					width: 100%;
					position: relative;
					overflow: hidden;
					& span.base {
						box-sizing: border-box;
						position: absolute;
						z-index: 2;
						width: 100%;
						height: 100%;
						left: 0;
						&:before {
							content: '';
							width: 2px;
							height: 2px;
							left: -1px;
							top: -1px;
							position: absolute;
							transition: $transition;
						}
					}
					& span.bg {
						left: -5%;
						position: absolute;
						background: $pink;
						width: 0;
						height: 100%;
						z-index: 3;
						transition: $transition;
						transform: skewX(-10deg);
					}
					& span.text {
						z-index: 4;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						&:after {
							content: '';
							width: 4px;
							height: 4px;
							right: 0;
							bottom: 0;
							background: $base;
							position: absolute;
							transition: $transition;
							z-index: 5;
						}
					}
				}
				&:hover {
					color: $white;
					& span.bg {
						width: 110%;
					}
					& span.text:after {
						background: $white;
					}
				}
			}
		}
		#container {
			display: flex;
			align-items: center;

			img {
				width: 70vw;
				transition: 0.5s ease;
				backface-visibility: hidden;
				opacity: 1;
				object-fit: contain;
			}
		}
	}
}
