.language-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	.languages {
		text-shadow: 0.5px 0.5px #706558;
		font-size: 50px;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin-bottom: 5vh;

		h3 {
			text-align: center;
			margin-top: 0.9vh;
		}
	}
}
